@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --btn-color: #2D2D2A
}

* {
    font-family: Lato, Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
/* 
.border {
    border: solid 1px black;
} */


.yellow-border {
    border: solid yellow;
}

.max-width {
    width: 100%;
    max-width: 1300px;
    /* padding: 1em; */
}

.max-width-container {
    display: flex;
    justify-content: center;
}

.section-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
}

.section-grid>* {
    grid-column: 1 / -1;
}

.search {
    /* background-color: #eee; */
}

.global-header {}

.global-nav {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 2em;
}

.global-nav__logo {
    /* grid-area: logo; */
    grid-column: 1/ span;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gov_logo01 {
    width: 15%;
    /* filter: brightness(0) invert(1); */
}

.gov_logo02 {
    width: 15%;
    height: 54%;
    filter: brightness(0) invert(1);
}





/* FOOTER LAYOUT */



.global-footer__grid {
    display: grid;
    gap: 1em;
}



.nav-links {
    display: flex;
}



/* SECTION ONE  */
.loop-video {
    object-fit: cover;
    width: 100%;
    z-index: 0;
}

.video-nav {
    position: absolute;
    z-index: 1;
    background: linear-gradient(#0000003d, transparent);
    /* border: none; */
}


.video-banner {
    position: absolute;
    /* top: 50%; */
    inset-area: center;
    z-index: 1;
}

.video-banner__title {
    font-family: sans-serif;
    color: #fff;
    font-size: 3vw;
    font-weight: 100;
    margin: 0;
    line-height: 1.2;
    visibility: visible;
    /* justify-self: center; */
    grid-column: 5/9;
    text-align: center;
}

.video-banner__main-text {
    color: #fff;
    justify-self: center;
    text-transform: capitalize;
    font-weight: 500;
    margin: 0 auto;
    line-height: 1;
    font-size: 8vw;
    grid-column: 5/9;
    text-align: center;
}

.video-banner__text2 {
    color: #fff;
    font-size: 4vw;
    font-weight: 100;
    margin: 0;
    line-height: 1.2;
    visibility: visible;
    grid-column: 5/9;
    text-align: center;
}

.list-btn {
    background-color: transparent;
    border: none;
    filter: invert(0);
}

.global-nav__links-navigation {
    display: flex;
    gap: 1em;
    display: flex;
    gap: 1em;
    text-align: center;
    align-items: center;
}



.global-nav__search-btns {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    width: unset;
    padding: 0 16px;
    border-radius: 20px;
    background: #ffffff22;
    color: #fff;
    border: 1px;
}


.global-nav__links-navigation>* {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    font-weight: 600;
}

.global-nav__url::after {
    text-decoration: underline;
}

.global-nav__links-navigation:has(a)::after {
    cursor: pointer;
    text-decoration: underline;
}

.global-nav__links {
    /* grid-area: links */
    grid-row: 2;
    grid-column: 1/7;
}

.video-banner__searchfield-container {
    grid-column: 4/10;
    grid-row: 5/6;
    width: 100%;
    border-radius: 8px;
    height: 50px;
    display: flex;
    background-color: #fff;
    height: 10vh;
}

.video-banner__search-field:focus-visible {
    outline: none;
}

.video-banner__mic-logo {
    width: 6em;
    padding: 0;
    margin: 0;
    text-align: center;
    align-content: center;
}

.video-banner__search-logo {}



/* LAYOUT GLOBAL FOOTER */
/* LAYOUT GLOBAL FOOTER */

.global-footer__grid {
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(12, 1fr);
}

.global-footer__links {
    grid-row: 1;
    grid-column: 1/-1;
}

.global-footer__copyright-primary {
    /* grid-area: copyright-one; */
    grid-row: 2;
    grid-column: 1/-1;
}

.global-footer__copyright-secondary {
    /* grid-area: copyright-two; */
    grid-row: 3;
    grid-column: 1/-1;

}

@media(width >=1000px) {
    .global-footer__copyright-primary {
        grid-column: 1/6;
        grid-row: 2;
    }

    .global-footer__copyright-secondary {
        grid-row: 2;
        grid-column: 6/-1;
    }
}


/* LAYOUT GLOBAL HEADER */

.global-header {
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

.global-nav__logo-secondary {
    grid-column: 2;
    /* background-color: black; */
}

.global-nav__logo-primary {
    display: none;
}

.global-nav__navigation {
    grid-row: 2;
    display: none;
}


.global-nav__grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background: linear-gradient(#0000003d, transparent);
    mix-blend-mode: difference;
    /* background: linear-gradient(black, transparent); */
}

.global-nav__navigation-two {
    display: none;
}

@media(width >=1000px) {
    .global-nav__logo-secondary {
        display: inline-block;
        grid-column: 3;
        align-content: center;
    }

    .global-nav__logo-primary {
        display: inline-block;
        grid-column: 1
    }

    .global-nav__navigation {
        grid-row: 2;
        display: inline-block;
        grid-column: 1/3;
    }

    .global-nav__navigation-two {
        display: inline-block;
    }

    .global-nav__navigation-links {
        display: flex;
        gap: 1em;
        align-items: center;
    }

    .global-nav__navigation-links>* {
        text-transform: capitalize;
        text-decoration: none;
        color: #fff;
    }

    .global-nav__grid {
        /* margin: 0 69px; */

    }

    .global-nav__search {
        /* grid-row: 2; */
        /* grid-column: 8/13; */
        display: flex;
        /* justify-content: space-between; */
        gap: 1em;
    }

    .global-nav__search-bar {
        height: 40px;
        border-radius: 50px;
        border: 1px solid;
    }

}

/* .global-nav__grid:not([data-scroll='0']){
    background-color: red;
} */

/* LAYOUT SECTION 2 */

.trending-services__heading{
    color: #3a3f57;
    font-size: 5vw;
    font-weight: 700;
    text-align: center;
}

.trending-services__services-container{
    padding: 2em;
}

.trending-services__overview{
    color: #3a3f57;
    text-align: center;
    font-weight: 100;
    line-height: 1.6;
    font-size: 2vw;
    text-transform: capitalize;
    font-weight: 400;
}

.trending-services__business-container{
    background-color: #d9e0eb;
    margin: 0 1em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.trending-services__business-title{
    color: #000;
    font-size: 4vw;
    font-weight: 300;
    line-height: 1.2;
    display: block;
    text-transform: capitalize;
    text-align: left;
    /* text-align: center; */
}

.trending-services__business-overview{
    color: #647794;
    font-size: 16px;
    display: block;
    line-height: 1.4;
    margin: 0;
    font-weight: normal;
    padding-top: 5px;
}

.trending-services__business-options{
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    border: solid 1px grey;
    padding: 1em 5px;
    align-items: center;
    gap: 1em;
}

.trending-services__business-options > * {
    border: solid 1px grey;
    padding: 1em;
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.trending-services__business-option-info{
    grid-column: 2;
    grid-row: 1;
}

.trending-services__business-view-more{
    grid-column: 2;
    grid-row: 2;
}

